doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="keywords",content="EnergyAI,人工智能,机器学习,能源电力系统")
		meta(name="description",content="提供快速、经济、可复用、可迁移和标准化的能源电力系统人工智能解决方案,全球领先能源互联网AI服务")
		link(rel="icon",href="/favicon.ico")
		title= title
		block styles
			link(rel="stylesheet",href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
			link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.5/css/fileinput.min.css")
			link(rel="stylesheet", href="/css/carousel.css")
	body(data-spy="scroll",data-target=".scrollspy")
		include ./header.pug
		block content
		include ./footer.pug
		
		block scripts
			script(src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
			script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
			script(src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.5/js/fileinput.min.js")
			script(src="https://cdn.bootcss.com/echarts/3.8.0/echarts.min.js")
			script(src='/js/main.js')