extends ./layouts/default.pug
include ./mixin/carousel.pug

block content
  // Carousel
  // ==================================================
  .carouselBanner
    +carousel("myCarousel",
      [
        {image:"/images/carousel1.jpg",h1:"Example headline",p:"Note: If you're viewing this page via a codefile:///code URL, the 'next' and 'previous' Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.",button:{caption:"Sign up today",url:"/scenes"}},
        {image:"/images/carousel2.jpg",h1:"Another example headline",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.",button:{caption:"Learn more",url:"/scenes"}},
        {image:"/images/carousel3.jpg",h1:"One more for good measure.",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.",button:{caption:"Browse gallery",url:"/scenes"}}
      ])
  
  .container.marketing
    h2.text-center.mb-40 用AI解决能源互联网场景问题
    .row
      .col-lg-4
        img.img-circle(src='../images/marketing1.jpg', alt='Generic placeholder image', width='140', height='140')
        h3 负荷预测
        p
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        p
          a.btn.btn-default(href='/scenes', role='button') View details »
      .col-lg-4
        img.img-circle(src='../images/marketing2.jpg', alt='Generic placeholder image', width='140', height='140')
        h3 新能源发电预测
        p
          | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        p
          a.btn.btn-default(href='/scenes', role='button') View details »
      .col-lg-4
        img.img-circle(src='../images/marketing3.jpg', alt='Generic placeholder image', width='140', height='140')
        h3 关键断面知识发现
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-default(href='/scenes', role='button') View details »
  // START THE FEATURETTES
  hr.featurette-divider
  .container.skill
    h2.text-center.mb-40 全球领先能源互联网AI服务
    .row
      .col-lg-3
        a(href='#')
          img(src="../images/skill-1.png", alt="深度学习" width='128', height='128')
          h3 深度学习
      .col-lg-3
        a(href='#')
          img(src="../images/skill-2.png", alt="强化学习" width='128', height='128')
          h3 强化学习
      .col-lg-3
        a(href='#')
          img(src="../images/skill-3.png", alt="图像处理" width='128', height='128')
          h3 图像处理
      .col-lg-3
        a(href='#')
          img(src="../images/skill-4.png", alt="自然语言处理" width='128', height='128')
          h3 自然语言处理            
  // /END THE FEATURETTES
  hr.featurette-divider
  // try one try
  .container.try
    a.btn.btn-info.tryuse(href='/demo') 免费试用

    