extends ./layouts/default.pug
include ./mixin/carousel.pug

block content
  .navbar-wrapper
    .container
      nav.navbar.navbar-inverse.navbar-static-transition-group
        .container
          .navbar-header
            button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(class="navbar-brand", href="#") Project name
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href="#") Home
              li
                a(href="#about") about
              li 
                a(href="#contact") contact
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Dropdown 
                    span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li.dropdown-header Nav header
                  li
                    a(href='#') Separated link
                  li
                    a(href='#') One more separated link
  // Carousel
  // ==================================================
  +carousel("myCarousel",
    [
      {image:"http://rajasegar.github.io/JADE-Bootstrap/images/carousel1.jpg",h1:"Example headline",p:"Note: If you're viewing this page via a codefile:///code URL, the 'next' and 'previous' Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.",button:{caption:"Sign up today",url:"#"}},
      {image:"http://rajasegar.github.io/JADE-Bootstrap/images/carousel2.jpg",h1:"Another example headline",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.",button:{caption:"Learn more",url:"#"}},
      {image:"http://rajasegar.github.io/JADE-Bootstrap/images/carousel3.jpg",h1:"One more for good measure.",p:"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.",button:{caption:"Browse gallery",url:"#"}}
    ])