extends ./layouts/default.pug

block content
  .scenesBox.nobg
    .home-banner.paltform
      .banner-content
        .ai-container
          h2 平台技术
          p 提供直观的图像用户界面，上手快速，可快速创建、训练、评估和部署人工智能算法
          .btn-box
            a(href="#") 立即使用
            a(href="#") 技术文档
    .container.marketing
      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | 简单易用 
          p.lead
            | 提供直观的图像用户界面，上手快速，可快速创建、训练、评估和部署人工智能算法 <br/>
            | 通过图像界面控制和管理计算资源、数据、算法等<br/>
            | 可同时运行、管理多个人工智能实例，加快开发和部署进度
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='../images/pa-0.png', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | 算法丰富 
          p.lead
            | 提供无需编码即可部署的企业级人工智能算法，包括深度神经网络、深度卷积神经网络、神经网络、常规机器学习算法等 <br/>
            | 提供专业的指导，帮助选择最适合业务需求的人工智能算法或最适合业务数据的人工智能算法 <br/>
            | 提供可以完全控制系统和算法的API接口，方便开发和科研人员使用 <br/>
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(src='../images/pa-1.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | 弹性部署 
          p.lead
            | 提供适用于多行业、多专业和多部门的人工智能解决方案 <br/>
            | 提供定制化的部署方案，包括公有云、私有云、本地服务器等多种部署方式<br/>
            | 提供整体平台部署、部分平台部署、单独应用模块部署等灵活、可扩展的部署模式
        .col-md-5
          img.featurette-image.img-responsive.center-block(src='../images/pa-2.jpg', alt='Generic placeholder image')

    .try.scenes-try
      a.btn.btn-info.tryuse(href='/demo') 免费试用