/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import "default.less";

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper {
  background: #222;
  .container{
    padding: 0 10px;
  }
  .navbar {
    padding: 0 10px;
    margin-bottom: 0;
    border:0;
  }
  .navbar-header .navbar-brand{
    color:#fff
  }
  .navbar-collapse{
    padding: 0 15px;
  }
  .mainNav{
    transition: all .5s;
  }
  .nav-img{
    width:32px;
    height: 32px;
    margin: -5px 5px 0 0;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  .item {
    height: 500px;
    background-color: #777;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-inner {
  > .item {
    > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    } 
  }
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing{
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  h3 {
    font-weight: normal;
    font-size:18px;
  }
  h2 {
    font-weight: normal;
    font-size: 24px;
  }
  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
} 

.skill{
  .col-lg-3 {
    text-align: center;
    margin-bottom: 20px;
    h3{
      font-weight: normal;
      font-size: 18px;
      color: #333
    }
  }
}

.try{
  text-align: center;
  .tryuse{
    margin-bottom: 60px;
    padding: 10px 20px;
  }
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

//demo page
.demoBox{
  .container{
    > h2{
      padding: 20px;
      font-size: 24px;
      line-height: 1.1;
      color: #929292;
      border-bottom: 1px solid #cfdbe2;
    }
  }
}
#main-echarts{
  width:100%;
  height:600px;
}


//scenes page
.scenesBox{
  background: #f4f5f7;
  .home-banner{
    background: url('/images/banner.jpg') 50% 50% no-repeat;
    background-size: cover;
    .banner-content{
      text-align: center;
      height: 450px;
      background: rgba(0,0,0,.3);
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      .ai-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        >h2{
          font-weight: normal;
          font-size: 48px;
          color:#fff;
        }
        >p{
          width:500px;
          margin: 0 auto;
          padding-bottom: 24px;
          font-size:16px;
          line-height: 28px;
          color: #fff;
        }
        .btn-box{
          font-size: 0;
          >a{
            font-size: 16px;
            padding: 10px 20px;
            color: #fff;
            border: 1px solid #fff;
            &:first-child{
              margin-right: 10px;
            }
            &:hover{
              text-decoration: none;
              background: #fff;
              color: #333;
            }
          }
        }
      }
    }
  }

  .features-intro{
    padding-bottom: 40px;
    >h3{
      text-align: center;
      margin: 80px 0 50px;
    }
    >.intro{
      width: 600px;
      line-height: 26px;
      padding-bottom: 44px;
      margin: 0 auto;
      font-size: 14px;
      color: #999;
      text-align: center;
    }
    .item{
      padding: 30px 30px 10px;
      margin-bottom: 20px;
      background: #fff;
      .intro{
        color: #999;
        font-size:14px;
        margin:10px 0;
      }
      .hezuo{
        color: #999;
        img{
          width: 20px;
          margin: 0 10px;
        }
      }
    }
  }

  .tech-section{
    background: #fff;
    overflow: hidden;
    >h3{
      text-align: center;
      margin: 80px 0 50px;
    }
    .item{
      .tech-icon{
        background: url('/images/skill-2.png') no-repeat;
        background-size: contain;
        width: 80px;
        height: 80px;
        margin: 0 auto;
      }
      .tech-title{
        padding: 40px 0 24px;
        font-size: 18px;
        color: #333;
        text-align: center;
      }
      .tech-intro{
        text-align: center;
        color: #999;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper{
    .container{
      width: 1200px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
    }
    .login{
      margin-left:10px;
      a{
        //border: 1px solid #41d6c3;
        color: #fff;
        display: inline-block;
        padding: 5px 10px;
        margin-top: 10px;
        background: #337ab7;
      }
    }
  }
  /* Bump up size of carousel content */
  .carousel-caption {
    p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  }

  .featurette-heading {
    font-size: 50px;
  }

  .navbar-header{
    float: left
  }
  .navbar-nav{
    float: right
  }
  .navbar-brand{
    font-size: 16px;
  }
  .try{
    .tryuse{
      padding: 15px 40px;
      font-size: 18px;
    }
    &.scenes-try{
      background: #fff;
      padding:80px 0 40px;
    }
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .navbar-wrapper{
    .login{
      a{
        color:#41d6c3;
        margin-left: 15px;
      }
    }
  }

  .scenesBox{
    .home-banner{
      .banner-content{
        height: 200px;
      }
    }
  }
}
